In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

plt.rc('font',family='SimHei',size=13)

import os,gc,re,warnings,sys
warnings.filterwarnings('ignore')

In [9]:
path = '../data/ml-latest-small/'

data_frame = pd.read_csv(path + 'ratings.csv')
data_frame.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
#data_frame.groupby(['userId'])['rating'].mean()
data_frame.groupby(['userId'])['rating'].value_counts()

userId  rating
1       5.0       124
        4.0        76
        3.0        26
        2.0         5
        1.0         1
2       4.0         9
        5.0         6
        3.0         4
        3.5         4
        4.5         4
        2.0         1
        2.5         1
3       0.5        20
        5.0        10
        4.5         5
        2.0         1
        3.0         1
        3.5         1
        4.0         1
4       4.0        64
        5.0        64
        3.0        39
        2.0        26
        1.0        23
5       3.0        17
        4.0        13
        5.0        10
        2.0         3
        1.0         1
6       3.0       152
                 ...
606     1.5        13
        1.0         6
        0.5         4
607     3.0        63
        4.0        59
        5.0        52
        2.0        10
        1.0         3
608     3.0       169
        4.0       162
        3.5       126
        2.5        95
        4.5        95
        2.0        69
        0.5        33
        1.5        30
        1.0        29
        5.0        23
609     3.0        27
        4.0        10
610     3.5       315
        4.0       286
        3.0       230
        5.0       180
        4.5       148
        2.5        74
        2.0        42
        1.0        13
        1.5        11
        0.5         3
Name: rating, Length: 3976, dtype: int64